<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.class166room223.bookshop.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.class166room223.bookshop.model.Order" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_user_id" property="orderUserId" jdbcType="INTEGER" />
    <result column="order_phone" property="orderPhone" jdbcType="VARCHAR" />
    <result column="order_name" property="orderName" jdbcType="VARCHAR" />
    <result column="order_address" property="orderAddress" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_user_id, order_phone, order_name, order_address, order_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from orders
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>

  <select id="listAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from orders
    where order_user_id = #{userId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.class166room223.bookshop.model.Order" >
    insert into orders (order_id, order_user_id, order_phone,
      order_name, order_address, order_type
      )
    values (#{orderId,jdbcType=VARCHAR}, #{orderUserId,jdbcType=INTEGER}, #{orderPhone,jdbcType=VARCHAR},
      #{orderName,jdbcType=VARCHAR}, #{orderAddress,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.class166room223.bookshop.model.Order" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderUserId != null" >
        order_user_id,
      </if>
      <if test="orderPhone != null" >
        order_phone,
      </if>
      <if test="orderName != null" >
        order_name,
      </if>
      <if test="orderAddress != null" >
        order_address,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderUserId != null" >
        #{orderUserId,jdbcType=INTEGER},
      </if>
      <if test="orderPhone != null" >
        #{orderPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null" >
        #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="orderAddress != null" >
        #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.class166room223.bookshop.model.Order" >
    update orders
    <set >
      <if test="orderUserId != null" >
        order_user_id = #{orderUserId,jdbcType=INTEGER},
      </if>
      <if test="orderPhone != null" >
        order_phone = #{orderPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null" >
        order_name = #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="orderAddress != null" >
        order_address = #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.class166room223.bookshop.model.Order" >
    update orders
    set order_user_id = #{orderUserId,jdbcType=INTEGER},
      order_phone = #{orderPhone,jdbcType=VARCHAR},
      order_name = #{orderName,jdbcType=VARCHAR},
      order_address = #{orderAddress,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>

  <update id="updateTypeByPrimaryKey" parameterType="String" >
    update orders
    set
      order_type = "yes"
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>